.serviceEdit {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.serviceEdit > div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.serviceEdit > div > input, .serviceEdit > div > textarea {
    margin-top: 4px;
    font-size: 16px;
    padding: 8px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #424242;
}

.type {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.editButton {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    border: 1px solid lightblue;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightblue;
}

.editButton:focus {
    outline: none;
}

@media screen and (min-width: 500px) {
    .serviceEdit {
        width: 30%;
        margin-bottom: 40px;
    }

    .editButton:hover {
        background-color: #424242;
        border: 1px solid #424242;
        color: lightblue;
        cursor: pointer;
    }
}