*, 
*:after, 
*:before {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  background-image: url('./Images/triangle-mosaic.png');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
